<html>
    <head>
        <title>django test blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Test Blog</a></h1>
        </div>

        <div>
            <p>published: 17.05.2018</p>
            <h2><a href="">First post</a></h2>
            <p>Some text</p>
        </div>

        <div>
            <p>published: 17.05.2018</p>
            <h2><a href="">Second post</a></h2>
            <p> Lorem ipsum dolor sit amet, venenatis porttitor ultrices at aliquet malesuada, adipisci non accumsan eget ut. Risus felis bibendum vel integer orci sed, eu maecenas, sed arcu nec vitae gravida consectetuer, volutpat ullamcorper aenean sed lacus bibendum. Morbi curabitur lorem est sagittis, justo lorem ut donec lectus eget ut, ultrices nulla tempus dignissim orci, morbi et. Euismod vestibulum sollicitudin, mattis nec torquent nibh proin nam. Hac rhoncus quis elit mauris fusce, ullamcorper sit tincidunt.

Dui praesent quis, massa aliquam dapibus tempus ultricies eu, in maecenas, massa porta eget lorem purus. Sit neque vivamus vel lectus euismod in, elit cras lectus curabitur, dignissim quam. Consectetuer quis justo eget, et viverra arcu pede, ut velit malesuada, dictum urna tristique cum, tincidunt pellentesque dapibus nec. Donec cursus. Vulputate faucibus nec erat euismod dui, pellentesque lectus nec adipiscing sed odio orci, mollis sed nisl odio lacinia eget senectus. Aliquam congue bibendum in est interdum. Suscipit posuere tincidunt placerat. Vulputate amet sit mollis sed in quae, quam quis at orci luctus, integer felis elit, quisque fringilla pede viverra cum ac id. Dui at sapien curabitur at, nunc justo nec nulla nullam, praesent augue integer sit.

Eget dolor magna tellus leo odio. Quam blandit. Amet urna diam auctor, nec posuere, leo quisque, luctus dui, augue nam morbi arcu. Viverra sed, cum id pulvinar, est ante massa, tincidunt platea dapibus per pellentesque quisque eget. A morbi tellus rutrum in elit. Erat wisi sapien sed nibh ut pulvinar. Gravida consequat vel pellentesque, necessitatibus eget aenean nec tristique blandit ante, facilisis amet in et, nulla a condimentum non arcu. Odio at et, semper pharetra justo maecenas vel et. Odio sit, scelerisque lacinia lectus eget nulla vitae, ante wisi condimentum, nisl eu dui leo nec sagittis proin, adipisicing curabitur curabitur donec dolor vitae.

Elit elit pellentesque rutrum, blandit a ultrices. Auctor dolor ut, lacus proin id, tincidunt porta integer interdum, vestibulum nam. Sapien neque risus ligula leo turpis, orci id in per id elit vitae, volutpat ad proin, scelerisque non curabitur fermentum, suscipit eu libero. Luctus elit purus cum vel et nam, lorem sit nunc nec risus quisque, orci libero ac porttitor auctor. Morbi venenatis viverra penatibus, vel vel ac rutrum arcu, tempor fringilla sit gravida pede temporibus suspendisse, venenatis sed suspendisse at urna sed sed.

+</p>
        </div>
    </body>
</html>